<!DOCTYPE html>
<html lang="en">

<head>
  <base href="/" />
  <title>Castles</title>

  <!--Stylesheets-->
  <link rel="stylesheet" href="/font-awesome/css/font-awesome.css" />
  <link rel="stylesheet" href="/angular-snap/angular-snap.css" />
  <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" type="text/css" href="/style.css" />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery-jgrowl/1.2.12/jquery.jgrowl.min.css" />
  
  <script src="https://cdn.jsdelivr.net/lodash/4.6.1/lodash.js"></script>
  <script src="/snapjs/snap.js"></script>

  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-jgrowl/1.2.12/jquery.jgrowl.min.js"></script>
  <script src = "https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js"></script>
  <!--Angular-->
  <script src="/angular/angular.js"></script>
  <script src="/angular-animate/angular-animate.js"></script>
  <script src="/angular-ui-bootstrap/ui-bootstrap.js"></script>
  <script src="/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="/angular-snap/angular-snap.js"></script>
  <script src = "https://cdn.jsdelivr.net/angular.dragdrop/1.07/angular-dragdrop.min.js"></script>

  <!-- Firebase and AngularFire-->
  <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
  <script src="https://cdn.firebase.com/libs/angularfire/1.1.4/angularfire.min.js"></script>
  <!--D3 and Interact-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.min.js"></script>
  <script src="https://d3js.org/d3-polygon.v0.2.min.js"></script>


  <!--Sockets and gulp/main.js-->
  <script src="/socket.io-client/socket.io.js"></script>
  <script src="/main.js"></script>

</head>

<body ng-app="Castles">

  <div class="">
    <div ui-view></div>
  </div>

</body>

</html>

