<div class="col-sm-12 messagedir" class="messages">
    <div class="row">
        <div class="col-sm-12" id="messagesContainer">

            <!--misc buttons-->
            <div class="panel panel-primary">

                <!--messages themselves-->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12 messageDirPanel" scroll-glue>
                            <div class='messagesDir' ng-repeat="message in data.messages">
                                <!--<h6 class="usernameDirMsg">{{message.from}}</h6>-->
                                <div class="messageDir">{{ message.from }} : {{message.content}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--input field for message and send button-->
                <div class="panel-footer">
                    <form>
                        <div class="input-group input-group-xs">
                            <input type="text" class="form-control" ng-model="obj.msg" placeholder="..."/>
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="submit" ng-click="sendMessage()">Send</button>
                                </span>
                        </div>
                    </form>
                </div>

            </div>

        </div>
    </div>
</div>