    <div class="modal-header">
        <h3 class="modal-title">Choose one card to discard</h3>
    </div>
    <div class="modal-body">
        <ul>
            <li ng-repeat="bonus in bonuses">
                <div ng-click="$event.preventDefault(); selected.bonus = bonus">{{ bonus.attributeToCheck }}</div>
            </li>
        </ul>
        Selected: <b>{{ selected.bonus.attributeToCheck }}</b>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    </div>
