
<div class="tester">
<div class="header">
    <h1>{{ data.name }}</h1>
</div>

<div class="message-wrap" ng-repeat="message in data.messages">
    {{ message.sent | date: 'short' }}
    <div class="ng-cloak">
        {{ message.from }}: {{ message.content }}
    </div>

</div>



<form class="message-form" ng-submit="sendMessage()">

    <div class="input-group">
        <input type="text" class="form-control" ng-model="obj.msg" placeholder="Type a message...">
    <span class="input-group-btn">
        <button class="btn btn-default" type="submit">Send</button>
    </span>
        <button class="btn btn-default" type="submit" ng-show="isHost()" ng-click="startGame()">Start</button>
    </div>
</form>





</div>

<div class="test">

    <div class="users-wrap" ng-repeat="user in data.userNames">

        <div class="users">
            {{ user }}
        </div>

    </div>

</div>