<div class="container">
    <div class="row">

        <!-- grid tag-->
        <div class="col-md-9 messageDiv">
            <div class="row">
                <div class="col-md-12">

                    <!--misc buttons-->
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h6 class="panel-title" style="display:inline;">{{ data.name }}</h6>
                        </div>

                        <!--messages themselves-->
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6 messagePanel" scroll-glue>
                                    <div class='lobbyMessages' ng-repeat="message in data.messages">
                                        <h4 class="usernameMsg">{{message.from}}:</h4>
                                        <div class="message">{{message.content}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--input field for message and send button-->
                        <div class="panel-footer">
                            <form>
                                <div class="input-group input-group-lg">
                                <input type="text" class="form-control" ng-model="obj.msg" placeholder="..."/>
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="submit" ng-click="sendMessage()">Send</button>
                                    <button class="btn btn-primary" type="submit" ng-show="isHost()" ng-click="startGame()">Start</button>
                                </span>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!--<div class="col-md-3 listPlayers">-->

            <!--<div class="panel panel-primary playerPanel">-->
                <!--<div class="panel-heading">-->
                    <!--<h6 class="panel-title" style="display:inline;">Players</h6>-->
                <!--</div>-->

                <!--<div ng-repeat="player in data.players">-->
                    <!--<div class="userName">{{ player.userName }}</div>-->
                <!--</div>-->

            <!--</div>-->

        <!--</div>-->





    </div>
</div>
