

<!--<div class="container">-->

<!--<div class="header">-->
    <!--<h1>{{ data.name }}</h1>-->
<!--</div>-->

<!--<div class="message-wrap" ng-repeat="message in data.messages">-->
    <!--{{ message.sent | date: 'short' }}-->
    <!--<div class="ng-cloak">-->
        <!--{{ message.from }}: {{ message.content }}-->
    <!--</div>-->

<!--</div>-->

<!--<form class="message-form" ng-submit="sendMessage()">-->

    <!--<div class="input-group">-->
        <!--<input type="text" class="form-control" ng-model="obj.msg" placeholder="Type a message...">-->
    <!--<span class="input-group-btn">-->
        <!--<button class="btn btn-primary" type="submit">Send</button>-->
    <!--</span>-->
        <!--<button class="btn btn-primary" type="submit" ng-show="isHost()" ng-click="startGame()">Start</button>-->
    <!--</div>-->

<!--</form>-->

<!--</div>-->

<!--
TODO: Chat box will share the grid with a side panel that will be fixed;
TODO: <listPLayers></listPLayers>
TODO: Authenticate with FB or Google and join the display your avatar photo;
TODO: Users should sign up with a username, email, and password; Form validation needed;


-->


<div class="container">
    <div class="row">

        <!-- grid tag-->
        <div class="col-md-12">

            <div class="row">
                <div class="col-md-9">

                    <!--misc buttons-->
                    <div class="panel panel-primary">
                        <div class="panel-heading">

                            <!--<span class="glyphicon glyphicon-user"></span>-->
                            <h6 class="panel-title" style="display:inline;">{{ data.name }}</h6>

                            <!--<div class="btn-group btn-group-xs pull-right">-->
                                <!--<button type="button" class="btn btn-primary">-->
                                    <!--<span class="glyphicon glyphicon-lock"></span>-->
                                <!--</button>-->

                                <!--<button type="button" class="btn btn-primary">-->
                                    <!--<span class="glyphicon glyphicon-cog"></span>-->
                                <!--</button>-->

                                <!--<button type="button" class="btn btn-primary">-->
                                    <!--<span class="glyphicon glyphicon-remove"></span>-->
                                <!--</button>-->
                            <!--</div>-->

                            <div class="clearfix"></div>
                        </div>

                        <!--messages themselves-->
                        <div class="panel-body" style="padding:0 4px;">
                            <div class="row">

                                <div class="col-md-6 messagePanel">

                                    <table class="table table-hover table-condensed">

                                        <tr class='messages' ng-repeat="message in data.messages">
                                            <!--avatar associated to user's FB-->
                                            <!--<td><img src="{{chat.icon}}" alt="" style="margin-top:8px;"/></td>-->
                                            <td> <h6>{{message.from}}</h6> </td>
                                        <td>
                                            <p class="message"> {{message.content}} </p>
                                        </td>
                                        </tr>
                                    </table>

                                </div>
                            </div>
                        </div>

                        <!--input field for message and send button-->
                        <div class="panel-footer">
                            <form>
                                <div class="input-group input-group-lg">
                                <input type="text" class="form-control" ng-model="obj.msg" placeholder="..."/>
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="submit" ng-click="sendMessage()">Send</button>
                                </span>

                                </span>
                                <button class="btn btn-primary" type="submit" ng-show="isHost()" ng-click="startGame()">Start</button>
                                </div>

                                </div>
                            </form>
                        </div>

                    </div>


                </div>
            </div>
        </div>

    </div>
</div>
