<nav id="market-nav" class="navbar navbar-static-top navbar-inverse">
    <div class="container">
        <ul class="nav navbar-nav navbar-inverse">
            <li class = "market-room" 
                ng-repeat="(price,room) in data.market" 
                ng-model="room.room" 
                data-drop="true" 
                data-jqyoui-options 
                jqyoui-droppable
                ng-class="{active:room.trying}"
                >
                <center>
                <span   class="price">${{price}}</span>
                <span   class = "discount" 
                        ng-if="room.room.discount"> -${{room.room.discount}}</span>
                </center>
                <div
                    data-drag="data.masterBuilder === userIndex" 
                    data-jqyoui-options="{revert: 'invalid'}"
                    jqyoui-draggable="{animate:true, placeholder:true}"
                    ng-model="room.room" 
                    >
                    <img src = "{{room.room.imagePath}}" 
                        class = "img-responsive room-img" 
                        id="market-img"
                        ng-dblclick="evalTry(room, price)">
                </div>
            </li>
            <li class = "market-room"
                ng-class="{active:data.Hallway||data.Stairs}"
            >
                <center>
                    <span class = "price">$3000</span><br>
<!--                     <span ng-show="data.players[userIndex].canBuy && (!trying || Hallway)">
                        <a  ng-show="!data.Hallway" 
                            ng-click="tryCorridor('Hallway')">+ </a>
                            <a ng-show="data.Hallway" ng-click="untryCorridor('Hallway')">-</a>
                    </span> -->
                    <img src = "images/150-hallway.png" class = "img-responsive" id="market-img" ng-dblclick="evalCorridorTry('Hallway')">
                <br>
<!--                     <span ng-show="data.players[userIndex].canBuy && (!trying || Hallway)">
                        <a ng-show="!data.Stairs" ng-click="tryCorridor('Stairs')">+ </a>
                        <a ng-show="data.Stairs" ng-click="untryCorridor('Stairs')">-</a>
                    </span> -->
                    <img src = "images/75-stairs.png" class="img-responsive" id="market-img" ng-dblclick="evalCorridorTry('Stairs')"></a>
                </center>
            </li>
            <li class = "market-room">
                <center><br>
                <button class = "btn btn-block btn-sm" ng-disabled="!data.players[userIndex].canBuy" ng-click="buy()">Buy/Pass</button><br>
                <button class = "btn btn-block btn-sm" ng-disabled="data.masterBuilder !== userIndex || data.players[userIndex].canBuy || data.currentPlayer !== userIndex" ng-click="done()">MB done</button>
                </center>
            </li>
        </ul>
    </div>
</nav>