.navbar {
  display: block;
  background: white;
  border-bottom: 0.5vh solid black;
  margin-bottom: 0px !important;
  min-height: 0px !important;

  .container {
    width: 100%;
    padding: 1vh 1vw;
    height: 5vh;
  }

  fullstack-logo {
    width: 40px;
  }

  a {
    color: black;
    font-size: 16px;
  }

  .nav > li > a {
    cursor: pointer;
    transition: color 0.2s;
    &.active {
      color: darken(#f31214, 10%);
    }
    &:hover {
      background: none;
      color: #f31214;
    }
    &:focus {
      background: none;
    }
  }

  .login-button {
    float: right;
    border: 1px solid black;
    background: none;
    outline: none !important;
  }

  .welcome {
    float: right;
    span {
      color: black;
      font-size: 16px;
    }
    a {
      color: #f30046;
      cursor: pointer;
    }
  }

}
