<!-- <div class="container">
  <table class="table" ng-repeat="favor in favors">
    <thead>
      <tr>
        <th>{{favor.attributeToCheck}}</th>
      </tr>
    </thead>
    <tbody>
        <tr ng-repeat="ranking in favor.rankings">
          <td>{{ranking.player.userName}}</td>
        </tr>
    </tbody>
  </table>
</div> -->

<div class="container" id="kingsFavors">
  <div class="row">
    <div class="col-sm-2" ng-repeat="favor in favors">
      <div class="title"><span>{{favor.attributeToCheck}}</span></div>
      <div class="player" ng-repeat="ranking in favor.rankings"><span>{{ranking.player.userName}}</span></div>
    </div>
  </div>
</div>