* {
    box-sizing: border-box;
}

body {
    background: #fdfdfd;
}

@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

#main {
    margin: 0 auto;
}

.axis line {
  fill: none;
  stroke: #bbb;
  shape-rendering: crispEdges;
  vector-effect: non-scaling-stroke;
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
