<div id="sidebar" class="col-sm-3">
  <div id="playerspanel" class="panel-primary">
    <div class="panel-heading">
      <h3 class="text-center">
            Players
          </h3>
    </div>
    <div id="playerlist" class="panel-body">
      <ul class="list-group">
        <li class="list-group-item">Player 1</li>
        <li class="list-group-item">Player 2</li>
        <li class="list-group-item">Player 3</li>
        <li class="list-group-item">Player 4</li>
      </ul>
    </div>
  </div>
</div>
<div class = "col-sm-9" id="grid-market">
<market></market>
<div gridtesting></div>
</div>