<div class="login-page" ng-hide="isLoading">
	<div class="img-container">
		<div class="text-center pull-right photo">
			<img src="images/logo.png" class="user-avatar img-circle img-responsive" />
				<h1>CASTLES</h1>
			</div>
		</div>

		<div class="form-content">

			<form role="form" class="bottom-75">
				<div class="table-form">
					<div class="form-groups">

						<div class="form-group">
							<input type="text" class="form-control input-lg" id="" placeholder="EMAIL" ng-model="signup.email">
						</div>

						<div class="form-group">
							<input type="password" class="form-control input-lg" id="" placeholder="PASSWORD" ng-model="signup.password">
						</div>


					</div>
					<a class="btn" type="submit" id="btn1" ng-click="signup()">
					<i class="fa fa-pencil-square-o fa-3x"></i> <span id="signup1">SIGN UP</span>
					</a>
					<br>
					<a class="btn" type="submit" ng-click="login()" id="btn2">
					<i class="fa fa-play fa-3x"></i> <span id="login1">LOGIN</span>
					</a>

				</div>
			</form>

		</div>

	</div>
</div>

</div>
<div class="sk-cube-grid" ng-show="isLoading">
	<div class="sk-cube sk-cube1"></div>
	<div class="sk-cube sk-cube2"></div>
	<div class="sk-cube sk-cube3"></div>
	<div class="sk-cube sk-cube4"></div>
	<div class="sk-cube sk-cube5"></div>
	<div class="sk-cube sk-cube6"></div>
	<div class="sk-cube sk-cube7"></div>
	<div class="sk-cube sk-cube8"></div>
	<div class="sk-cube sk-cube9"></div>
</div>

