@import "less/bootstrap.less";
// Base
@import "base.less";

// Pages
@import "pages/login.less";
@import "pages/dashboard.less";

// Widgets and Effects
@import "widgets/input-underline.less";
@import "widgets/checkbox.less";
@import "../../node_modules/bootstrap-btn-outline-rounded/index.less";
@import "transitions/all.less";
@import "transitions/animations.less";

a {
  color: white;
}

#btn1{
  padding-top: 12px;
  color: white;

}

.tester{
  display: block;
  height: 75%;
  width: 500px !important;

}

#btn1:hover{
  transform: scale3d(1.1,1.1,1.1);

  text-shadow: 0.5px 0px 10px rgb(252,72,7);
}

#btn2{ padding-left: 15px; padding-top: 10px; color: white;}
#btn2:hover{
  transform: scale3d(1.1,1.1,1.1);

  text-shadow: 0.5px 0px 10px rgb(252,72,7);
}


#signup1{ position: relative; bottom: 13px; }
#login1{ position: relative; bottom: 10px; left: 7px;}



// Other
.browsehappy {
  margin: 0.2em 0;
  background: #334857;
  color: #000;
  padding: 0.2em 0;
}

html,body {
	overflow: auto;
}

.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: white;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  } 35% {
      -webkit-transform: scale3D(0, 0, 1);
      transform: scale3D(0, 0, 1);
    }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

.discount {
  color:red;
}

.price{
  color:white;

}

#market-nav {
  margin:0;
  background-color: #3F638A;
  .container{
    width: 100%;
  }
  ul{
    background-color:#3F638A;
  }
  .market-room {
      width: 8vw;
      padding: 5px;
      vertical-align: middle;
      background-color:#3F638A;
  }
}

#market-img {
  vertical-align: middle;
}

#grid-market {
  padding:0!important;
}

#grid-testing {
  height: 100%;
}

#gameboard {
    overflow: hidden;
    border: 0.5vh solid black;
    width: 100%;
    height: 93vh;
    background-color: #3333ff;
    height: ~"calc(100vh - 125px)";
}

/*#game {
  overflow: hidden;
}*/

#main {
    margin: 0;
    padding: 0;
}

svg {
  font: 10px sans-serif;
}

#playerlist {
    padding: 0 16px;
    width: 100%;
    .list-group{
      max-width: 325px;
    }
}

#kingsFavors {
  margin-left: 20px;
  .title{
    border-bottom: 1px solid black;
  }
  #inner1{
    width: 100px;
    float:left;
    display:inline-block; 
  }
  #kingsFavorsRow{
    height: 68px;
  }
  #kingsFavorsImg{
    height:80%;
    width:80%;
  }
  #bonusCardsImg{
    height:80%;
    width:80%;
  }
}

#smallFont{
  font-size: x-small;
}

#slides_control {
  text-align: center;
  height: 356px;
  max-width: 325px;
  left:50%;
  top:20px;
}

.item {
  height: 325px;
}

#carousel{
  color:white;
  float:left;
  border-radius: 5px;
  width: 100%;
  .well {
   background-color: #334857;
   border-color: gray;
  }
}

.carousel-inner{
  overflow: auto;
}


.carousel-control.left, .carousel-control.right {
   background-image:none !important;
   filter:none !important;
}

.carousel-control {
  opacity: 0.15;
}

.carousel-control:hover {
  opacity: 0.15;
}


.normal {
  fill: black;
  opacity: 0.3;
}

.overlapping {
  fill: red;
  opacity: 0.3;
}

.adjacent {
  fill: blue;
  opacity: 0.3;
}

.legit {
    fill: green;
    opacity: 0.3;
}

#sidebar {
  background-color: #334857;
  height: 100vh;
  overflow: auto;
}

.playerTurn{
  background-color: #C3E4ED;
}

ul#scoreCard {
  list-style-type: none;
 }

